/* Ajuste de altura */
html{
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
}
/* section de conteudo, dentro do html e body */
.bem2 {
  min-height: 100%;
}

body {
  margin: 0;
  line-height: normal;
}
.title28,
.title30 {
  position: relative;
  background: linear-gradient(rgba(33, 125, 51, 0.11), rgba(33, 125, 51, 0.11)),
    #fffbff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: normal;
}
.title28 {
  align-self: stretch;
  line-height: 32px;
  font-weight: 500;
}
.title30 {
  flex: 1;
  font-weight: 600;
}
.title29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 32px;
  font-family: Rubik;
}
.entrando-agora-em {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
}
.somos8,
.texto6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.texto6 {
  flex: 1;
  flex-direction: column;
  padding: 0 16px;
  justify-content: flex-start;
  gap: 36px;
  text-align: left;
  font-size: 22px;
  font-family: "Source Sans Pro";
}
.label-text29 {
  position: relative;
  font-size: 16px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Rubik;
  background: linear-gradient(rgba(33, 125, 51, 0.11), rgba(33, 125, 51, 0.11)),
    #fffbff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.button20,
.state-layer38 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.state-layer38 {
  flex-direction: row;
  padding: 10px 12px;
}
.button20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 8px;
  flex-direction: column;
}
.dot18,
.dot19 {
  position: relative;
  border-radius: 24px;
  height: 8px;
  flex-shrink: 0;
}
.dot18 {
  background-color: #201b17;
  width: 8px;
  opacity: 0.3;
}
.dot19 {
  background-color: #f9cb40;
  width: 12px;
}
.pagination-dots4 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
.actions8,
.bem2,
.pagination-dots4 {
  display: flex;
  align-items: center;
}
.actions8 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 16px 6px;
  justify-content: space-between;
}
.bem2 {
  position: relative;
  background: linear-gradient(168.55deg, #279d3e, #176727);
  width: 100%;
  flex-direction: column;
  padding: 32px 26px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 36px;
  text-align: center;
  font-size: 24px;
  color: #fffbff;
  font-family: Rubik;
}
