/* Ajuste de altura */
#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  background-color: #ffffff;

}

.flb {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  animation: pulse 1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

#custom-overlay img {
  display: flex;
  margin: 0 auto;
  width: 160px;
  height: auto;
  filter:
    drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.5));
  animation: animation 3100ms linear infinite both;
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes opacity {
  0% {
    opacity: 0;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  margin: 0;
  line-height: normal;
  display: flex;
}

.title1 {
  position: relative;
  font-weight: 600;
  background: linear-gradient(rgba(33, 125, 51, 0.11), rgba(33, 125, 51, 0.11)),
    #fffbff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: normal;
}

.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-family: Rubik;
}

.calcule-child {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 111.5px);
  width: 222px;
  height: 222px;
  opacity: 0.8;
}

.calcule-suas-emisses,
.calcule1 {
  position: absolute;
  top: calc(50% - 143px);
  width: 311px;
  height: 286px;
}

.ilustracao {
  position: absolute;
}

.calcule-suas-emisses {
  left: calc(50% - 155.5px);
  object-fit: cover;
}

.calcule1,
.ilustracao {
  left: calc(50% - 156px);
}

.ilustracao {
  top: calc(50% - 245px);
  width: 312px;
  height: 300px;
}

.body,
.title2 {
  align-self: stretch;
  position: relative;
  mix-blend-mode: normal;
}

.title2 {
  margin: 0;
  font-size: inherit;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
}

.body {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro";
  background: linear-gradient(rgba(33, 125, 51, 0.11), rgba(33, 125, 51, 0.11)),
    #fffbff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calcule {
  left: calc(50% - 156px);
  width: 312px;
}

.calcule,
.group-child,
.plante,
.texto {
  position: absolute;
}

.plante,
.texto {
  width: 312px;
}

.texto {
  left: calc(50% - 156px);
  top: calc(50% + 115px);
  height: 130px;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.calcule,
.plante {
  top: calc(50% - 245px);
  height: 490px;
}

.plante {
  left: calc(50% + 251px);
}

.group-child {
  top: calc(50% - 111px);
  left: calc(50% - 111px);
  width: 222px;
  height: 222px;
  opacity: 0.8;
}

.removebg-preview-1-icon {
  object-fit: cover;
}

.ellipse-parent,
.removebg-preview-1-icon {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 156px);
  width: 312px;
  height: 300px;
}

.body2,
.title4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 296px;
  mix-blend-mode: normal;
}

.title4 {
  margin: 0;
  font-size: inherit;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
}

.body2 {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro";
  background: linear-gradient(rgba(33, 125, 51, 0.11), rgba(33, 125, 51, 0.11)),
    #fffbff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.comece {
  position: absolute;
  top: calc(50% - 245px);
  left: calc(50% + 658px);
  width: 312px;
  height: 490px;
}

.opes {
  align-self: stretch;
  position: relative;
  height: 490px;
  flex-shrink: 0;
  overflow: hidden;
}

.label-text {
  position: relative;
  font-size: 16px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Rubik;
  background: linear-gradient(rgba(33, 125, 51, 0.11), rgba(33, 125, 51, 0.11)),
    #fffbff;
  background-clip: linear-gradient(rgba(33, 125, 51, 0.11), rgba(33, 125, 51, 0.11)),
    #fffbff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.button,
.state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.state-layer {
  flex-direction: row;
  padding: 10px 12px;
}

.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: 24px;
  border-radius: 8px;
  flex-direction: column;
}

.dot,
.dot1 {
  position: relative;
  border-radius: 24px;
  background-color: #f9cb40;
  width: 18px;
  height: 8px;
  flex-shrink: 0;  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.dot1 {
  background-color: #201b17;
  width: 10px;
  opacity: 0.3;
}

.button1,
.pagination-dots {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-dots {
  bottom: 32px;
  left: calc(50% - 30px);
  flex-direction: row;
  gap: 8px;
}

.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 16px;
  right: 24px;
  border-radius: 8px;
  flex-direction: column;
}

.actions {
  align-self: stretch;
  position: relative;
  height: 72px;
  flex-shrink: 0;
  overflow: hidden;
}

.onboarding1 {
  position: relative;
  background: linear-gradient(168.55deg, #279d3e, #176727);
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 24px;
  color: #fffbff;
  font-family: Rubik;
}