/* Ajuste de altura */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
}

/* section de conteudo, dentro do html e body */
.sobre-nos {
  min-height: 100%;
}

body {
  margin: 0;
  line-height: normal;
}

.vector-icon {
  position: absolute;
  height: 65.38%;
  width: 90.38%;
  top: 17.31%;
  right: 5.77%;
  bottom: 17.31%;
  left: 3.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.icon9,
.sobre-nos1 {
  position: absolute;
  top: 0;
}

.icon9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 0;
  width: 32px;
  height: 32px;
}

.sobre-nos1 {
  left: calc(50% - 122px);
  line-height: 32px;
  font-weight: 500;
  color: #fffbff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 244px;
  mix-blend-mode: normal;
}

.title15 {
  align-self: stretch;
  position: relative;
  height: 32px;
  flex-shrink: 0;
  text-align: center;
  font-size: 24px;
  font-family: Rubik;
}

.button-header {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
}

.label-text22 {
  position: relative;
  font-size: 16px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Rubik;
  color: #513720;
  text-align: center;
}

.state-layer31 {
  display: flex;
  flex-direction: row;
  padding: 10px 24px;
  align-items: center;
  justify-content: center;
}

.button13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f9cb40;
  align-self: stretch;
  border-radius: 100px;
  overflow: hidden;
  justify-content: center;
}

.action,
.button13,
.sobre-nos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action {
  align-self: stretch;
  padding: 32px;
  justify-content: center;
  gap: 24px;
}

.sobre-nos {
  position: relative;
  background: linear-gradient(168.55deg, #279d3e, #176727);
  width: 100%;
  overflow: hidden;
  padding: 32px 26px;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 60px;
  text-align: center;
  font-size: 22px;
  color: #fffbff;
  font-family: "Source Sans Pro";
}

/* estilos predefinidos */
.content4 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.somos {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 24px;
  align-items: center;
  justify-content: center;
}

.fundao-salvador-arena {
  font-size: 24px;
  font-weight: 600;
}

.representamos-a-fundao-container {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
}

.fsa {
  position: relative;
  flex-shrink: 0;
  filter: drop-shadow(0 4px 8px #00000025);
  width: 120px;
  height: 120px;
}

.logo-icon {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.nossa-missao {
  flex-direction: row;
  padding: 0 29px;
  justify-content: center;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.nossa-missao-child {
  position: absolute;
  margin: 0 !important;
  height: calc(100% + 151px);
  width: calc(100% + 52px);
  top: -88.5px;
  right: -29px;
  bottom: -62.5px;
  left: -23px;
  opacity: 0.1;
  z-index: 0;
}

.nesse-interim-a {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  z-index: 1;
}